@-webkit-keyframes navFadeDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 75px;
  }
}

@keyframes navFadeDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 75px;
  }
}

@-webkit-keyframes menuFadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes menuFadeIn {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes logoMove {
  0% {
    right: 600px;
  }
}

@keyframes logoMove {
  0% {
    right: 600px;
  }
}

.container-fluid {
  padding: 0;
}

.main_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-animation: navFadeDown 1000ms ease-in;
          animation: navFadeDown 1000ms ease-in;
}

.fas {
  font-size: 1.7em;
  margin-right: 15px;
  -webkit-animation: menuFadeIn 2000ms ease-in;
          animation: menuFadeIn 2000ms ease-in;
}

.navbar {
  background-color: lightgrey;
  width: 100%;
  z-index: 1;
  opacity: .98;
  padding: 8px 0;
}

.navbar-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
}

span {
  color: rgba(147, 44, 73, 0.637);
}

span.slash {
  font-size: 1.2em;
  font-weight: 700;
}

.collapse {
  border-top: 1px solid rgba(147, 44, 73, 0.404);
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
}

a.nav-link:hover {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.884);
}

.nav-link.active {
  display: inline-block;
}

.nav-link.active::after {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid rgba(147, 44, 73, 0.801);
  height: 2px;
}

.header-wrapper {
  text-align: center;
  -webkit-animation: menuFadeIn 2s;
          animation: menuFadeIn 2s;
}

.float-left,
.contrib-footer,
.contrib-column {
  display: none;
}

#navigation {
  -webkit-animation: navFadeDown 1s ease-in;
          animation: navFadeDown 1s ease-in;
}

.logo {
  -webkit-animation: navFadeDown 1s ease-in;
          animation: navFadeDown 1s ease-in;
}

.header-text {
  margin-bottom: 3em;
}

.header-text.project-text {
  margin: 25px;
}

.social-icons > a.social-links > i.fab {
  margin: 5px;
  color: rgba(44, 44, 44, 0.801);
}

.social-icons > a.social-links > i.fab:hover {
  text-shadow: 1px 1px 10px rgba(147, 44, 73, 0.404);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro-text {
  margin-top: 50px;
  margin-bottom: 70px;
  letter-spacing: 1.2px;
}

.about-me,
.my-skills,
.my-projects {
  padding-top: 100px;
}

.skill-item {
  list-style-type: none;
}

.skillset {
  text-align: center;
}

.frontend-header,
.frameworks-header,
.tooling-header {
  display: inline-block;
  border-bottom: 1px solid rgba(147, 44, 73, 0.404);
  margin-top: 10px;
}

.projects > img {
  display: block;
  max-width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.project-one,
.project-two,
.project-three {
  position: relative;
}

.overlay-one,
.overlay-two,
.overlay-three {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: rgba(252, 252, 252, 0.801);
}

.live-link {
  color: white;
}

.btn {
  opacity: .9;
}

.btn:hover {
  background-color: #932c49;
}

.header-wrapper,
.about-me,
.my-skills,
.my-projects {
  height: 100vh !important;
}

.email:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-bottom: 1px solid #f4f4f4;
}

.email > a {
  text-decoration: none;
  color: #f4f4f4;
  font-family: 'Belleza';
}

.email > a:hover {
  text-shadow: 1px 1px 5px #f4f4f4;
}

.email-brackets {
  font-size: 2em;
}

h3 {
  color: rgba(44, 44, 44, 0.801);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(248, 248, 248, 0.938);
}

a {
  text-decoration: none !important;
}

a:hover {
  color: white;
}

h1 {
  color: rgba(44, 44, 44, 0.801);
}

h1 {
  font-family: 'Philosopher, sans-serif';
  font-weight: 700;
  font-size: 1.8em;
  letter-spacing: 1px;
}

.letter {
  font-weight: 900;
}

.header-text {
  font-style: italic;
  letter-spacing: 2px;
  font-size: 0.6em;
}

.intro-text {
  font-family: 'Source Sans Pro';
}

.hello,
h3 {
  font-weight: 900;
  font-size: 1.3em;
}

h4 {
  font-family: 'Belleza';
  font-weight: 600;
}

.skill-item {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  letter-spacing: .065em;
}

.header-open,
.header-close,
.para-open,
.para-close {
  font-family: 'Italianno', cursive;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.295);
}

.open-span,
.close-span {
  font-family: 'Italianno', cursive;
  font-size: 2em;
  font-weight: 400;
  color: rgba(207, 207, 207, 0.623);
}
/*# sourceMappingURL=main.css.map */