.icon-wrap > a {
  color: #5095b8;
  font-size: 1.13em;
  margin-left: .5em;
}

.jumbotron {
  max-width: 90%;
  margin: 20px auto;
  color: #f4f4f4;
  background-color: rgba(255, 255, 255, 0);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  background-color: rgba(31, 68, 102, 0.87);
}

.nav-list {
  display: none;
  text-align: center;
  list-style: none;
  position: absolute;
  right: 20px;
  width: 70%;
  background: rgba(223, 223, 223, 0.938);
  border: 1px #778899 solid;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .nav-toggler {
    display: none;
  }
}

.btn:hover,
.btn:focus {
  border-bottom: 2px solid rgba(236, 203, 91, 0.705);
  color: #dee2e6;
  border-radius: none;
  background-color: #3a61868a;
}

.introParagraph {
  margin: 20px 40px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
}

.menu {
  color: #336B87;
  font-size: 1.6em;
}

.nav-links > button {
  color: #5095b8;
  font-size: 1.05em;
  margin-right: 1.5em;
  font-weight: 500;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 115, 126, 0)), to(rgba(35, 115, 126, 0.205)));
  background-image: linear-gradient(rgba(35, 115, 126, 0), rgba(35, 115, 126, 0.205));
}

.myGithub {
  background-color: rgba(255, 255, 255, 0);
  max-width: 90%;
  margin: auto;
}

.py-2 {
  color: #dee2e6;
  border-radius: 5px;
}

.contrib-column {
  border: none;
}

.text-muted {
  color: #5095b8 !important;
}

.contrib-number {
  color: rgba(236, 203, 91, 0.705);
}

h2 {
  color: #f4f4f4;
}

.fab:hover,
.fab:focus {
  -webkit-transform: scale(1.1) rotate(10deg);
          transform: scale(1.1) rotate(10deg);
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
  color: #dee2e6;
}

.header-wrap > a {
  color: #5095b8;
  font-size: .9em;
}

.header-text {
  margin-bottom: 0;
}

.skills-icon {
  border-bottom: 1px solid white;
  height: 50px;
  width: 50px;
}

.frontend > ul > li,
.tooling > ul > li {
  list-style-type: none;
  text-align: left;
}

.frontend > ul > li::before,
.tooling > ul > li::before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 700;
  content: '\f00c';
  margin-right: 10px;
}

h3:after {
  content: "";
  display: block;
  margin: 5px auto;
  width: 75%;
  border-bottom: 1px solid red;
}

h3.study-heading:after {
  width: 50%;
}

h3 {
  margin-bottom: 20px;
}

.test {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 150px auto;
  height: 100vh;
  width: 70%;
  position: relative;
  justify-items: center;
}

.one {
  background-color: #f4f4f4;
  height: 80%;
  width: 60%;
  position: absolute;
}

@-webkit-keyframes spinFromRight {
  0% {
    -webkit-transform: rotate(90deg) translateY(-1000px);
            transform: rotate(90deg) translateY(-1000px);
  }
}

@keyframes spinFromRight {
  0% {
    -webkit-transform: rotate(90deg) translateY(-1000px);
            transform: rotate(90deg) translateY(-1000px);
  }
}

@-webkit-keyframes spinFromLeft {
  0% {
    -webkit-transform: rotate(90deg) translate(-1000px, 1000px);
            transform: rotate(90deg) translate(-1000px, 1000px);
  }
}

@keyframes spinFromLeft {
  0% {
    -webkit-transform: rotate(90deg) translate(-1000px, 1000px);
            transform: rotate(90deg) translate(-1000px, 1000px);
  }
}

@-webkit-keyframes navBarFade {
  0% {
    opacity: 0;
  }
}

@keyframes navBarFade {
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes hideLocation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

@keyframes hideLocation {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

.textLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 10px 20px;
  -webkit-animation: 2500ms ease-in hideLocation;
          animation: 2500ms ease-in hideLocation;
}

.one {
  -webkit-animation: 2000ms ease-in spinFromLeft;
          animation: 2000ms ease-in spinFromLeft;
}

.two {
  background-color: #c1c1c1;
  height: 45%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 50px;
  -webkit-animation: 2000ms ease-in spinFromRight;
          animation: 2000ms ease-in spinFromRight;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
}

.navbar {
  -webkit-animation: 2000ms ease-in navBarFade;
          animation: 2000ms ease-in navBarFade;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
}

.main-header {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: .075em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}

.modal-title {
  font-weight: 900;
}

.header-text,
.header-wrap > a {
  font-style: italic;
}

.introParagraph {
  font-family: 'Source Sans Pro, sans-serif';
  letter-spacing: .04em;
}
/*# sourceMappingURL=main.css.map */