@keyframes navFadeDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 75px;
  }
}

@keyframes menuFadeIn {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  50% {
    opacity: .1;
  }
  75% {
    opacity: .5;
  }
}

@keyframes logoMove {
  0% {
    right: 600px;
  }
}

