.container-fluid {
  padding: 0;
}

.main_navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  animation: navFadeDown 1000ms ease-in;
}

.fas {
  font-size: 1.7em;
  margin-right: 15px;
  animation: menuFadeIn 2000ms ease-in;
}

.navbar {
  background-color: lightgrey;
  width: 100%;
  z-index: 1;
  opacity: .98;
  padding: 8px 0;

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-toggler {
    @include med {
      display: none;
    }
  }
}

.main-content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}

span {
  color: rgba(147, 44, 73, 0.637);

  &.slash {
    font-size: 1.2em;
    font-weight: 700;
  }
}


.collapse {
  border-top: 1px solid rgba(147, 44, 73, 0.404);
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
}

a.nav-link:hover {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.884);
}

.nav-link.active {
  display: inline-block;

  &::after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid rgba(147, 44, 73, 0.801);
    height: 2px;

  }
}

.header-wrapper,
.about-me,
.my-skills,
.my-projects {
  text-align: center;
  animation: menuFadeIn 2s;
}

.header-wrapper {
  @include med {
    max-width: 80%;
    margin: auto;
  }
}

.about-me {
  max-width: 90%;
  margin: auto;
}

.skills-content {
  @include med {
    display: flex;
    justify-content: space-evenly;
  }
}

.projects-wrapper {
  @include sm {
    max-width: 90%;
    margin: auto;
  }
  @include med {
    display: flex;
  }
}

.projects {
  @include med {
    max-width: 33%;
  }
}

#projects-hr {
  @include med {
    display: none;
  }
}

.float-left,
.contrib-footer,
.contrib-column {
  display: none;
}

#navigation {
  animation: navFadeDown 1s ease-in;
}

.logo {
  animation: navFadeDown 1.75s ease-in;
  border-radius: 50%;
  &:hover {
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.884);
  }
}

.header-text {
  margin-bottom: 3em;
}

.project-text {
  margin: 25px;
}

.social-icons {

  &>a.social-links>i.fab {
  margin: 5px;
  color: rgba(44, 44, 44, 0.801);
  &:hover {
    text-shadow: 1px 1px 10px rgba(147, 44, 73, 0.404);
    transform: scale(1.1);
  }
  }
}

.intro-text {
  margin-top: 50px;
  margin-bottom: 40px;
  letter-spacing: 1.2px;
}

.about-me,
.my-skills,
.my-projects,
.contact-me {
  padding-top: 100px;
}

.skill-item {
  list-style-type: none;
}

.skillset {
  text-align: center;
}

.frontend-header,
.frameworks-header,
.tooling-header {
  display: inline-block;
  border-bottom: 1px solid rgba(147, 44, 73, 0.404);
  margin-top: 10px;
}

.projects > img {
  max-width: 100%;
  height: 200px;
  width: 300px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.project-one,
.project-two,
.project-three {
  position: relative;
}

.overlay-one,
.overlay-two,
.overlay-three {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  width: 90%;
  padding: 10px 0;
  margin: auto;
  background-color: rgb(255, 254, 254);
  color: #292929d3;
  letter-spacing: 1px;
}

.overlay-btn > .btn {
  margin-bottom: 10px;
}

.skill-letter {
  color: rgb(147, 44, 73);
}

.live-link {
  color: #f4f4f4;
}

.btn {
  opacity: .9;
  &:hover {
    background-color: rgb(131, 55, 76);
  }
}

.my-skills {
  margin-bottom: 50px;
}

.email {
  &:hover {
    transform: scale(1.1);
    border-bottom: 1px solid #f4f4f4;
  }
  & > a {
    text-decoration: none;
    color: #f4f4f4;
    font-family: 'Belleza';
    &:hover {
      text-shadow: 1px 1px 5px #f4f4f4;
    }
  }
}

.email-brackets {
  font-size: 2em;
}

h3 {
  color: rgba(44, 44, 44, .801);
}

.fa-github,
.fa-eye {
  margin-right: .25em;
}

.skills-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px auto;
  justify-content: space-around;
  & > ul {
    list-style-type: none;
  }
}

.project-text {
  max-width: 75%;
  margin: 40px auto;
  & > .header-text {
    font-size: .8em;
  }
}

.overlay-header {
  border-bottom: 1px #292929d3 solid;
}

.goals-text {
  margin-bottom: 3em;
}

.frontend-wrapper,
.frameworks-wrapper,
.tooling-wrapper {
  color: rgba(44, 44, 44, 0.801);
}

.contact-me {
  max-width: 90%;
  @include med {
    max-width: 70%;
  }
}

.navbar-link {
  display: none;
  @include med {
    padding: 10px 30px;
    display: inline-block;
    color: rgb(131, 55, 76);
  }
  &:hover {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.884);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.884);
    border-radius: 100%;
  }
}

.contact-icons {
  align-self: center;
}

.para-open,
.para-close {
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.295);
}

.projects {
  background-color: white;
  padding: 1em;
  margin: 10px;
}