.container-fluid {
  padding: 0;
}

.main_navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  animation: navFadeDown 1000ms ease-in;
}

.fas {
  font-size: 1.7em;
  margin-right: 15px;
  animation: menuFadeIn 2000ms ease-in;
}

.navbar {
  background-color: lightgrey;
  width: 100%;
  z-index: 1;
  opacity: .98;

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-content {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
}

span {
  color: rgba(147, 44, 73, 0.637);

  &.slash {
    font-size: 1.2em;
    font-weight: 700;
  }
}


.collapse {
  border-top: 1px solid rgba(147, 44, 73, 0.404);
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
}

a.nav-link:hover {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.884);
}

.nav-link.active {
  display: inline-block;

  &::after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid rgba(147, 44, 73, 0.801);
    height: 2px;

  }
}

.header-wrapper {
  text-align: center;
  color: rgba(44, 44, 44, 0.801);
  animation: menuFadeIn 2s;
}

.float-left,
.contrib-footer,
.contrib-column {
  display: none;
}

#navigation {
  animation: navFadeDown 1s ease-in;
}

.logo {
  animation: navFadeDown 1s ease-in;
}

.intro-text {
  margin-top: 50px;
  letter-spacing: 1.2px;
}

.about-me,
.my-skills {
  padding-top: 100px;
}

.skill-item {
  list-style-type: none;
}

.skillset {
  text-align: center;
}

.frontend-header,
.frameworks-header,
.tooling-header {
  display: inline-block;
  border-bottom: 1px solid rgba(147, 44, 73, 0.404);
  margin-top: 10px;
}

.projects > img {
  display: block;
  max-width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

// .overlay-one {
//   position: absolute;
//   top: 50%;
//   left: 50%;
// }

.project-one,
.project-two,
.project-three {
  position: relative;
}

.overlay-one,
.overlay-two,
.overlay-three {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: rgba(252, 252, 252, 0.801);
}

.live-link {
  color: white;
}

.btn {
  opacity: .9;
  &:hover {
    background-color: rgb(147, 44, 73);
  }
}

.header-wrapper,
.about-me,
.my-skills,
.my-projects {
  height: 100vh!important;
}
