.container-fluid {
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.699), rgba(2, 2, 2, 0.342)), url('../images/live-work-create.jpg');
  background-size: cover;
  padding: 0;
}

.icon-wrap > a {
  color:  #5095b8;
  font-size: 1.13em;
  margin-left: .5em;
}

.jumbotron {
  max-width: 90%;
  margin: 20px auto;
  color: #A89795;
  background-color: rgba(255, 255, 255, 0.322);
}



.navbar {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: rgba(35, 115, 126, 0.205);
}

.nav-list {
  display: none;
  text-align: center;
  list-style: none;
  position: absolute;
  right: 20px;
  width: 70%;
  background: rgba(223, 223, 223, 0.938);
  border: 1px #778899 solid;
  border-radius: 5px;
}

.nav-toggler {
  @include med {
    display: none;
  }
}

.btn:hover,
.btn:focus           {
  border-bottom: 2px solid rgb(255, 255, 255);
  color: rgb(223, 197, 111);
  border-radius: none;
  background-color: #3a61868a;
}

.header-text:before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  content: '\f101';
  margin-right: 10px;
  color: cream;
}

.introParagraph {
  margin-top: 40px;
}

.menu {
  color: #336B87;
  font-size: 1.6em;
}

.nav-links > button {
  color: #5095b8;
  font-size: 1.15em;
  margin-right: 1.5em;
  font-weight: 500;
  background-image: linear-gradient(rgba(35, 115, 126, 0), rgba(35, 115, 126, 0.205));
}