.container {
  font-family: 'Source Sans Pro', sans-serif;
}

.main-header {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: .075em
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.header-text {
  font-style: italic;
}

.introParagraph {
  font-family: 'Source Sans Pro, sans-serif';
  letter-spacing: .04em;
}