.container {
  font-family: 'Source Sans Pro', sans-serif;
}

.main-header {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: .075em
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}

.modal-title {
  font-weight: 900;
}

.header-text,
.header-wrap > a {
  font-style: italic;
}

.introParagraph{
  font-family: 'Source Sans Pro, sans-serif';
  letter-spacing: .04em;
}