$text-dark: rgba(44, 44, 44, 0.801);
$text-light: #f4f4f4;
$span-color: rgba(147, 44, 73, 0.637);
$markup-dark: rgba(0, 0, 0, 0.295);
$markup-light: rgba(207, 207, 207, 0.623);
$text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.884);
$box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.884);

$philosopher: 'Philosopher, sans-serif';
$source:  'Source Sans Pro';
$italiano: 'Italianno', cursive;
