* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $text-light;
}

a {
  text-decoration: none!important;
  &:hover {
    color: $text-light;
  };
}

h1 {
  color: $text-dark;
}