h1 {
  font-family: $philosopher;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-family: $source;
}

.letter,
.skill-letter {
  font-size: 1.2em;
  font-weight: 900;
}

.header-text {
  font-size: 0.6em;
  font-style: italic;
  letter-spacing: 2px;
}

.intro-text {
  font-family: $source;
}

.hello,
h3 {
  font-size: 1.3em;
  font-weight: 900;
}

h4,
h5 {
  font-family: $philosopher;
  font-weight: 600;
}

.skill-item {
  font-family: $source;
  font-weight: 600;
  letter-spacing: .065em;
}

.header-open,
.header-close,
.para-open,
.para-close {
  color: $markup-dark;
  font-family: $italiano;
  font-size: 16px;
  font-weight: 400;
}

.open-span,
.close-span {
  color: $markup-light;
  font-family: $italiano;
  font-size: 2em;
  font-weight: 400;
}

#currentTime {
  color: $markup-light;
  font-size: 2em;
}
